    <div class="card mb-4">
   		{% if property.fileName %}
       		<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top" style="width:100%;height:auto" alt="">
       	{% else %}
        	<img src="{{ "/images/properties/empty-pictures.jpg" | imagine_filter('thumb') }}" class="card-img-top" style="width:100%;height:auto" alt="">
   		{% endif %}
        <div class="card-body"><!--.card-body pour le padding -->
            <h5 class="card-title">
                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
            </h5>
            <p class="card-text">{{ property.surface }}m<sup>2</sup> - {{ property.city }} ({{ property.postalCode }})</p>
            <div class="text-primary" style="font-weight:bold;font-size:2rem;">{{ property.getFormatedPrice }} €</div>
        </div>
    </div>
